body {
    background-image: url('/imgs/bg.jpeg');
    background-position: center;
    color: #ebdbb2;
    font-family: 'Roboto Mono';
}

.test 
{
  margin: 0% 16%;
  padding-top: 30px;
}

.card
{
  background-color: #282828;
  max-width: 750px;
  margin: auto;
  margin-top: 30px;
}

.card-body
{
  background-color:#282828;
  max-width: 750px;
  margin: auto;
}

.img-thumbnail
{
  background-color:#ebdbb2;
  border-color:#ebdbb2;
}

.btn-circle {
    width: 35px;
    height: 35px;
    padding-top: 8.5px;
    padding-left: 8px;
    border-radius: 17.5px;
    text-align: center;
    font-size: 17.5px;
    line-height: 1.42857;
    color:#ebdbb2;
}