body {
  background-color: #282A36;
  font-family: 'Iosevka Custom';
  color: #FFFFFF;
}

@font-face {
  font-family: 'Iosevka Custom';
  src: local('Iosevka Custom'), url(../fonts/iosevka-custom-regular.woff2) format('woff2');
}

.card {
  background-color: #18181D;
  max-width: 600px;
  margin: auto;
  top: 50%;
  transform: translateY(50%);
}

.card-body {
  background-color: #18181D;
  max-width: 600px;
  margin: auto;
  margin-top: 20px;
}

.p {
  line-height: 2;
}

.img-thumbnail {
  background-color: #18181D;
  border-color: #FFFFFF;
}

.btn-circle {
  width: 40px;
  height: 40px;
  border-radius: 20px;
}

.spotify-song {
  padding-top: 0px;
}

.flex-container {
  display: flex;
}

.btn {
  padding: 0px !important;
}

.btn-lg {
  padding: 0px !important;
}

a.btn>svg {
  display: inline !important;
  vertical-align: middle !important;
  width: 24px;
  height: 24px;
  color: #F8F8F2;
  transition: color 100ms ease-out 100ms;
}

a.btn-twt>svg:hover,
a.btn-twt>svg:focus {
  color: #5AA4D6;
}

a.btn-tg>svg:hover,
a.btn-tg>svg:focus {
  color: #1F91CB;
}

a.btn-disc>svg:hover,
a.btn-disc>svg:focus {
  color: #4D60EA;
}

a.btn-stm>svg:hover,
a.btn-stm>svg:focus {
  color: #0D66A8;
}

a.btn-git>svg:hover,
a.btn-git>svg:focus {
  color: #000000;
}

a.btn-spt>svg:hover,
a.btn-spt>svg:focus {
  color: #00CD52;
}

a.btn-mail>svg:hover,
a.btn-mail>svg:focus {
  color: #F54242;
}