body {
    background-image: url('/imgs/bg.jpeg');
    background-color:#282828;
    background-position: center;
    font-family: 'Roboto Mono';
    color: #ebdbb2;
}

@font-face {
  font-family: 'Roboto Mono';
  src: local('Roboto Mono'), local('RobotoMono'), url(https://fonts.gstatic.com/s/robotomono/v13/L0x5DF4xlVMF-BfR8bXMIjhLq38.woff2) format('woff2');
}

.card
{
  background-color: #282828;
  max-width: 750px;
  margin: auto;
  margin-top: 30px;
}

.card-body
{
  background-color:#282828;
  max-width: 750px;
  margin: auto; 
}

.img-thumbnail
{
  background-color:#ebdbb2;
  border-color:#ebdbb2;
}

.btn-circle {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    color:#ebdbb2;
}

.spotify-song {
    padding-top: 0px;
}

.flex-container {
  display: flex;
}

.btn {
  padding: 0px !important;
}

.btn-lg {
  padding: 0px !important;
}

a.btn > svg {
  display: inline !important;
  vertical-align: middle !important;
  padding-top: 2px;
  width: 24px;
  height: 24px;
  color: #ebdbb2;
}