@font-face {
    font-family: 'JetBrainsMono Nerd Font Mono';
    src: local('JetBrainsMono Nerd Font Mono'), url(../fonts/JetBrainsMonoNerdFontCompleteM-Regular.woff2) format('woff2');
}

body {
    font-family: 'JetBrainsMono Nerd Font Mono', monospace;
    font-size: 17px;
    background-color: #282A36;
    color: #D0D0D0;
    background-image: url("../imgs/bg.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: auto;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #75B5AA;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #75B5AACC;
}

.main {
    display: inline-block;
    border-style: solid;
    border-width: 2px;
    border-color: #75B5AA;
    border-radius: 10px;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 700px;
    height: 450px;
    max-width: 96%;
    max-height: 96%;
    background-color: #151515;
    opacity: 95%;
    overflow-y: auto;
    padding: 4px;
}

.maintext {
    color: #D0D0D0;
    opacity: 100%;
    margin-left: 10px;
    margin-top: 10px;
    font-size: 17px;
}

.maintext2 {
    color: #D0D0D0;
    opacity: 100%;
    margin-left: 10px;
    font-size: 17px;
    line-height: 3px;
}

.divclass {
    display: inline-flex;
}

.imgClass {
    margin-left: 10px;
    margin-top: 13px;
    opacity: 100%;
}

.text {
    color: #D0D0D0;
    opacity: 100%;
    margin-left: 10px;
    margin-top: 10px;
    line-height: 5px;
    font-size: 17px;
}

.red {
    color: #AC4142;
}

.orange {
    color: #B58900;
}

.yellow {
    color: #F4BF75;
}

.green {
    color: #90A959;
}

.blue {
    color: #6A9FB5;
}

.pink {
    color: #A6759C;
}

.purple {
    color: #928BCF;
}

.white {
    color: #D0D0D0;
}

.black {
    color: #151515;
}

.bold {
    font-weight: bold;
}

.js {
    color: #F0DB4F;
}

.node {
    color: #3C873A;
}

.java {
    color: #EC2025;
}

.python {
    color: #306998;
}

#text {
    color: #D0D0D0;
    margin-left: 10px;
    margin-top: 10px;
    line-height: 5px;
    font-size: 17px;
}

.input {
    border: none;
    background-color: #151515;
    color:#D0D0D0;
    font-family: 'JetBrainsMono Nerd Font Mono', monospace;
    font-size: 17px;
    width: 90%;
}

.input:focus {
    outline: none;
}